# Bibliotecas
import numpy as np
import pandas as pd
import investpy as inv
from matplotlib import pyplot as plt
from bcb import sgs

#Pesquisa no BC + plotagem de uma tabela com os dados
#https://www3.bcb.gov.br/sgspub/localizarseries/localizarSeries.do?method=prepararTelaLocalizarSeries
ComparativoBCB = sgs.get({"INCC" : 192,"IPCA" : 433,"IGP-M" : 189}, start = "2023-01-01", end = "2023-12-31")
ComparativoBCB

# Plotar gráfico de linha
ComparativoBCB.plot(figsize=(12, 6), marker='o')

# Adicionar título e rótulos aos eixos
plt.title('Comparativos BCB INCC / IPCA / IGP-M 2023')
plt.xlabel('Meses')
plt.ylabel('Rendimento percentual (%)')

# Mostrar o gráfico
plt.legend(loc='lower right')
plt.grid(True)
plt.show()
